body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black !important;
}


.body-contain{
  min-height: 88vh;
}

.list-group-item:first-child{
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.list-group-item {
  color: #ffffff !important;
  background-color: #02020200 !important;
  border: none !important;
}
  

.list-group-item-action.active {
  color: var(--bs-list-group-action-active-color) !important;
  background-color: #899eb3 !important;
}
.content-contain{
  background: #2b2e30;
  min-height: 85vh;
}

.all_post_container{
  min-height: 55vh;
  max-height: 55vh;
  overflow-y: scroll;
  border:1px solid white;
}
.card{
  background-color: #fff0 !important;
  border-bottom: 1px solid gray !important;
}
a {
  color: #cbcbcb !important;
  text-decoration: none !important;
}

.comments-container{
  margin-top: 100px !important;
}